@charset "utf-8";
body{
    background-image: url(img/bg01.jpg);
    border-top: 10px solid rgb(71, 48, 30);
}
.App{
    margin: 40px 20px;
}
.Header{
    margin-bottom: 40px;
}
.Header h2{
    font-size: 3vw;
    line-height: 70px;
    text-align: center;
    margin-left: 4vw;
    margin-bottom: 4vw;
    color: #110c09;
    background-image: url(img/movie_icon.png);
    background-size: 5% auto;
    background-repeat: no-repeat;
    background-position: 38%;
}
.Header div{
    display: flex;
    justify-content: center;
    margin-bottom: 4vw;
}
.Header div button{
    margin: 0 20px;
    font-size: 1.2vw;
    padding: 5px 20px;
    padding-bottom: 7px;
    border-radius: 50px;
    color: #47301e;
}
.Header div button.active{
    color: #fff;
    background-color: #47301e;
}
.MovieList ul{
    display: flex;
    flex-wrap: wrap;
    margin-left: 3vw;
}
.MovieItem{
    position: relative;
    display: flex;
    width: 32%;
    margin-bottom: 3vw;
    margin-right: 10px;
}
.MovieItem img{
    width: 50%;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
}
.MovieItem .info{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 1.5vw;
    background-color: rgba(247, 239, 233, 0.6);
    box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
}
.MovieItem .title{
    display: flex;
    align-items: center;
    font-size: 1.4vw;
    font-weight: 600;
    margin-bottom: 4vw;
    width: 11vw;
}
.MovieItem .title .title01{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1em;
}
.MovieItem p{
    font-size: 1.2vw;
    margin-bottom: 1.3vw;
}
.MovieItem .vrating{
    padding: 5px;
    padding-bottom: 7px;
    color: #fff;
    font-weight: 600;
    border-radius: 4px;
    font-size: 18px;
    margin-right: 10px;
}
.MovieItem .vrating.allstyle{
    background-color: #005a14;
}
.MovieItem .vrating.twstyle{
    background-color: #d6a607;
}
.MovieItem .vrating.fistyle{
    background-color: #d66b07;
}
.MovieItem .vrating.eistyle{
    background-color: #d60707;
}
.MovieItem .over{
    position: relative;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.5);
    opacity: 0;
    transition: 0.3s;
}
.MovieItem .over button{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%);
    color: #fff;
    padding: 4px 39px 5px 40px;
    border: 1px solid #fff;
    border-radius: 20px;
    font-size: 1vw;
}
.MovieItem:hover .over{
    opacity: 1;
}
.MovieItem .modal{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(17, 17, 17, 0.9);
    z-index: 100;
}
.MovieItem .modal.open{
    display: block;
}
.MovieModal{
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    color: rgb(255, 8, 0);
}
.MovieModal button{
    position: absolute;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
    padding-bottom: 7px;
    border-radius: 5px;
    font-size: 18px;
    z-index: 10;
}
.MovieModal img{
    width: 20%;
    height: 20%;
    margin-right: 20px;
}
.MovieModal div{
    padding: 0px 10px;
}
.MovieModal p{
    color: #fff;
    line-height: 1.5em;
    opacity: 0.1;
}
.MovieModal .modalidx{
    position: absolute;
    left: 2px;
    top: 2px;
    padding: 5px 10px;
    padding-bottom: 6px;
    color: #fff;
    font-weight: 600;
    background-color: rgba(17, 17, 17, 0.7);
    border-radius: 10px;
    z-index: 10;
    opacity: 1;
    font-size: 14px;
}
.MovieModal .modaltitle{
    font-size: 1.8vw;
    font-weight: 500;
}
.MovieModal .modaltitle .vrating{
    vertical-align: top;
    margin-left: 20px;
}
.MovieModal .col2{
    margin-bottom: 150px;
}
.MovieModal .director>span:last-child span, .MovieModal .actor>span:last-child span{
    display: none;
}
.MovieModal .modalScore{
    position: absolute;
    right: 50px;
    top: 70px;
    font-size: 5vw;
}
.MovieModal .story, .MovieModal .actor{
    padding-right: 35px;
}